@using AJN.Jonesy.Business
@model AJN.Jonesy.Model.Question

@{
    ViewBag.Title = Model.Text;
    Layout = "~/Views/Shared/_QuestionLayout.cshtml";
}

<div class="content" itemscope itemtype="http://schema.org/Question">
    <h1 itemprop="name"> <!--itemprop="text"?-->
        <a href="@QuestionUrlParser.Generate(Model)" class="question-hyperlink">@Model.Text</a>
    </h1>
</div>

<div class="strip">
    <div class="content">
        <div class="answer" itemscope itemtype="http://schema.org/Answer">
            @Html.Raw(Model.Answer.Text)
        </div>
    </div>
</div>

<div class="content">
    
    @if (!string.IsNullOrEmpty(Model.Answer.Details)) {
        <div class="more-details">
            <h2>More details</h2>
            @Html.Raw(Model.Answer.Details)
        </div>
    }

    <div class="leaderboard-advert">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Minecraft Answers Leaderboard -->
        <ins class="adsbygoogle"
             style="display: inline-block; width: 728px; height: 90px"
             data-ad-client="ca-pub-7142257795026948"
             data-ad-slot="7341884437"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div>
        <h2>Similar questions</h2>
        <ul>
            @foreach (var question in Model.SimilarQuestions) {
                <li>
                    <a href="@QuestionUrlParser.Generate(question)">@question.Text</a>
                </li>
            }
        </ul>
    </div>
</div>