@using System.Text.RegularExpressions
@using AJN.Jonesy.Business
@model AJN.Jonesy.Model.Question

@{
    var title = "Equivalent questions to " + Model.Text + " - Minecraft Answered";
    Layout = "~/Views/Shared/_QuestionLayout.cshtml";
    var description = string.Format("List of equivalent questions for the question - {0}", WebUtility.HtmlDecode(Regex.Replace(Model.Text, "<[^>]*(>|$)", string.Empty)));
    
}

@section Title { @title }

@section Head {
    <meta name="twitter:title" property="og:title" itemprop="title name" content="@ViewBag.Title" />
    <meta name="twitter:description" property="og:description" itemprop="description" content="@description "/>
    <meta name="description" content="@description">
    <meta property="og:url" content="http://minecraftanswered.imbick.com/redirects/@(Model.Id)/@(QuestionUrlParser.GenerateTitle(Model))" />
}

<div class="column">
    <h1>
        Equivalent questions to '<a href="@QuestionUrlParser.Generate(Model)">@Model.Text</a>'
    </h1>
</div>

<div>
    <div class="strip">
        <div class="column redirects" itemprop="text">
            <ul>
            @foreach (var equivalent in Model.EquivalentQuestions) {
                <li><img src="/Content/Images/icon-foward.svg"/> <a href="@QuestionUrlParser.Generate(equivalent)" >@equivalent.Text</a></li>
            }
            </ul>
        </div>
    </div>
</div>

<div class="column">
    <div class="leaderboard-advert">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Minecraft Answers Leaderboard -->
        <ins class="adsbygoogle"
             style="display: inline-block; width: 728px; height: 90px"
             data-ad-client="ca-pub-7142257795026948"
             data-ad-slot="7341884437"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div>
        <p>The listed questions are equivalent in intent but differ slightly in wording from the original question. In order to simplify the content and direct users to the most appropriate answer, these questions all redirect to what is deemed to be the canonical question.</p>
    </div>

</div>